/* assets/css/styles.css */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 90%; /* Largeur du conteneur */
    max-width: 90vw; /* Limite à 90% de la largeur de la fenêtre */
}

h1 {
    margin-bottom: 20px;
}

.media-display {
    margin-bottom: 20px;
    width: 100%; /* Prend toute la largeur de la boîte */
    max-height: 80vh; /* Limite la hauteur à 80% de la fenêtre */
    border-radius: 10px; /* Arrondit les bords de la boîte */
    overflow: hidden;
    display: flex; /* Utiliser flex pour centrer le contenu */
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
}

.media-display img,
.media-display video {
    max-width: 100%; /* Prend toute la largeur de la boîte sans déformation */
    max-height: 100%; /* Prend toute la hauteur de la boîte sans déformation */
    border-radius: 10px; /* Arrondit les bords du média */
    object-fit: contain; /* Garde l'aspect ratio tout en s'adaptant à la boîte */
}

button {
    background-color: #8a2be2; /* Violet */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7a1eae; /* Un peu plus foncé au survol */
}
